<div >

  <h3>Booking system</h3>
  <div *ngIf="!validBookingNr">

    <form>
      <label>Booking Number:</label>
      <!-- <input type='text' placeholder="XYZa6" (ngModelChange)="onBookingNumChange($event.target)"> -->
      <input [(ngModel)]="bookingNum" name="bookingNum">
      <button value="Search" class='search-button' (click)="onSubmit()"><mat-icon aria-hidden="false">search</mat-icon></button>
      {{error}}
    </form>
  </div>
  <div *ngIf="validBookingNr">
    <app-booking-status [bookingNumer]="bookingNum"></app-booking-status>
  </div>

</div>

<!-- [value]="bookingNum" -->
